.footer {
    padding-top: 60px;
    padding-bottom: 60px;
    background-color: $background-dark;
    @include mq(noDesk) {
        text-align: center;
    }

.footer__list {
    display: flex;
    gap: 60px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    align-content: center;
    @include mq(tab){
        flex-direction: row;
        justify-content: space-around;
        align-items: baseline;
    }
    @include mq(desk) {
        gap: 70px;
       
    }
}

.footer__item .title {
    margin-bottom: 20px;
    color: $text-white;
    text-transform: uppercase;
}

.footer__item:last-child {
    @include mq(desk) {
    margin-left: auto;
    }
}

.footer__item .logo {
    display: block;
    padding-top: 0;
    padding-bottom: 0;
    margin-bottom: 20px;
    font-size: 24px;
    line-height: 1.17;
    @include mq(desk) {
        font-size: 26px;
    }
}

.social-list__link .social-list__icon {
    fill: $text-white;
}
}