.hero {
    padding: 118px 0;
    margin-left: auto;
    margin-right: auto;

    background-color: $background-dark;
    text-align: center;

    background-image: $background-transparent, url("../images/images-hw-4/background-people.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;

/* desk
    padding-top: 200px;
    padding-bottom: 200px;
    max-width: 1600px;*/
}
.hero__title {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    width: 360px; 

    font-weight: 900;
    font-size: 26px;
    line-height: 1.62;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    color: $text-white;
    @include mq(desk){
        width: 696px;
        font-size: 44px;
        line-height: 1.36;
    }
}