.portfolio__link {
    display: inline-block;

    transition: box-shadow $timing-function;

&:hover {
    box-shadow: $portfolio-item-shadow;
 }
&:focus {
    box-shadow: $portfolio-item-shadow;
}

.portfolio__thumb {
    position: relative;
    overflow: hidden;
}

.portfolio__overlay {
    position: absolute;

    padding: 63px 24px;
    bottom: 0;
    width: 100%;
    height: 100%;

    font-size: 18px;
    line-height: 1.56;
    color: $text-white;
    background-color: $portfolio-overlay-color;

    opacity: 0;
    transform: translateY(100%);
    transition: opacity $timing-function, transform $timing-function;
}

&:hover .portfolio__overlay {
    transform: translateY(0);
    opacity: 1;
 }

&:focus .portfolio__overlay {
    transform: translateY(0);
    opacity: 1;
}

.portfolio__card-content {
    padding: 20px 24px;
    border: 1px solid $inner-border;

    background-color: $text-white;
}

.portfolio__name {
    margin-bottom: 4px;

    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: $text-black;
}

.portfolio__desc {
    font-size: 16px;
    line-height: 1.9;
}
}