.work {
    padding-top: 0;
}

.work__list .card-set__item {
    position: relative;
}

.work__overlay {
    position: absolute;

    margin-bottom: 0;
    padding: 27px 0;
    text-align: center;
    bottom: 0;
    width: 100%;
    color: $text-white;
    background-color: $background-works;
}