.backdrop {
    position: fixed;

    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $backdrop-color;

    transition: opacity $timing-function, visibility $timing-function;
}