.logo {
    padding-top: 24px;
    padding-bottom: 25px;

    font-family: "Raleway";
    font-style: normal;
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    color: $logo-blue;


&--logo-dark {
    padding-top: 24px;
    padding-bottom: 25px;

    color: $logo-black;
}

&--logo-white {
    color: $text-white;
}

}