.mob-menu__button {
    @include mq(tab) {
        display: none;
    }
    display: block;
    padding: 0;
    margin-left: auto;

    cursor: pointer;
    border: none;
    background-color: transparent;
    fill: $text-black;

    transition: fill $timing-function;
    z-index: 2;
    
    &.is-open {
        position: fixed;
        top: 10px;
        right: 15px;
    }
    &:hover,
    &:focus {
        fill: $logo-blue
    }
}

.mob-menu__cross {
    display: none;
}

.mob-menu__button.is-open .mob-menu__cross {
    display: block;
    position: fixed;
    
}

.mob-menu__button.is-open .mob-menu__icon {
    display: none;
}

.mob-menu__container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 48px 40px;
    background-color: $text-white;
    z-index: 1;
    overflow: hidden;
    transition: transform $timing-function;
    transform: translateX(-200%);
    overflow-y: scroll;
    @include mq(tab) {
        display: none;
        }

    &.is-open {
    @include mq(tab) {
        display: none;
        }
    transform: translateX(0);
    }
}

.mob-menu__nav-list {
    margin-bottom: auto;
}

.mob-menu__nav-item {
    font-size: 40px;
    line-height: 1.17;
    color: $text-black;
    &:hover,
    &:focus {
            color: $logo-blue;
        }
}

.mob-menu__nav-item:not(:last-child) {
    margin-bottom: 32px;
}

.mob-menu__current-page {
    color: $logo-blue;
}
.mob-menu__contact {
    margin-bottom: 64px;
}

.mob-menu__contact-item {
    font-size: 24px;
    line-height: 1.17;
    color: $text-grey;
    &:hover,
    &:focus {
            color: $logo-blue;
        }
}
.mob-menu__contact-item:not(:last-child) {
    font-size: 34px;
    margin-bottom: 32px;
}

.mob-menu__social {
    display: flex;
    flex-wrap: wrap;
}

.mob-menu__social-item {
    padding-left: 10px;
    padding-right: 10px;
    font-size: 18px;
    line-height: 1.22;
    color: $logo-blue;
}
.mob-menu__social-item:not(:last-child) {
    border-right: $modal-input-border;
}

.mob-menu__social-item:first-child {
    padding-left: 0;
}

.mob-menu__link {
    transition: color $timing-function;
}