.mob-menu {
    display: inline-flex;
}

.mob-menu__button {
    @include mq(tab) {
        display: none;
    }
    display: block;
    padding: 0;
    border: none;
    background-color: transparent;
    margin-left: auto;
    fill: $text-black;
    transition: $timing-function;
    z-index: 1;
}

.mob-menu__cross {
    display: none;
}

.mob-menu__button.is-open .mob-menu__cross {
    display: block;
    position: fixed;
    
}

.mob-menu__button.is-open .mob-menu__icon {
    display: none;
}

.mob-menu__container {
    display: none;
    @include mq(mob-only) {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    }
        
    padding: 48px 40px;
    background-color: $text-white;
    
    transition: $timing-function;
   

    &.is-open {
        @include mq(tab-only) {
            display: none;
        }
        display: block;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        
    }
}