:root {
    --basic-item-margin: 30px;
    --basic-item: 3; 
}
    $background-white: #e5e5e5;
    $background-dark: #2f303a;
    $background-transparent: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
    $background-works: rgba(47, 48, 58, 0.8);
    $background-grey: #f5f4fa;
    $logo-blue: #2196f3;
    $logo-black: #000;
    $text-black: #212121;
    $text-white: #ffffff;
    $text-grey: #757575;
    $text-footer: #fff9;
    $center-border: #ececec;
    $inner-border: #eeeeee;
    $inner-border-clients: #AFB1B8;
    $icons-colour: #AFB1B8;
    $background-footer-icons: rgba(255, 255, 255, 0.1);
    $team-item-shadow: 0px 2px 1px 0px #00000033, 0px 1px 1px 0px #00000024, 0px 1px 3px 0px #0000001F;
    $filter-button-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
    $portfolio-item-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
    $hero-button-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    $footer-button-shadow: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    $modal-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    $portfolio-overlay-color: rgba(33, 150, 243, 0.9);
    $backdrop-color: rgba(0, 0, 0, 0.2);
    $timing-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
    $close-icon-border: rgba(0, 0, 0, 0.1);
    $footer-signup-email: 1px solid rgba(255, 255, 255, 0.3);
    $placeholder-color: rgba(255, 255, 255, 0.6);
    $modal-input-border: 1px solid rgba(33, 33, 33, 0.2);
    $textarea-placeholder-color: rgba(117, 117, 117, 0.5);
    $background-button-active: #188CE8;
